*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

header{
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 999;
    box-shadow: 0px 5px 18px #888888;
    
}

.tostada{
    background: linear-gradient(to right, #ffbd59, #ffe259);
    color: black;
    font-size: 0.75rem;
    height: 0.7rem;
    display: flex;
    place-items: center;
    
}

#darkMode-btn{
    font-size: 1rem;
    border-radius: 25%;
    border-color: #ffbd59;
    background-color: #ffe259;
    width: 75px;
    display: flex; 
    justify-content: center;   
    transition-duration: 0.5s;
}
#darkMode-btn:focus{
    border-color: #ffe259;
}

.navbar__dark{
    color: white !important;
}
.navbar__dark:hover{
    color: #ffbd59 !important;
}

.modo-oscuro{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.modalCarrito{
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffbd59, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffbd59, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0px 0px 10px #333;
}

.carritoTitulo{
    font-size: 1.5rem;
    font-weight: bold;
}

.carritoCompra{
    color: white;
    background-color: #7e4a07;
    border-radius: 50%;
    border:none;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    transition: 
        background-color 250ms ease-in-out,
        transform 50ms ease-in-out;
}

.carritoCompra:hover{
    background-color: #ca6a09;
}

.carritoCompra:active{
    transform: scale(0.9);
}

.notificacion{
    font-size: 10px;
}

.nombreProdCarrito{
    color: #ca6a09;
    font-weight: bold;
}

.botonRojo{
    color: red;
    font-size: 20px;
    border: 0;
    background-color: transparent;
}

.botonCantidad{
    border: none;
    outline: none;
    background-color: #ffe259;
    box-shadow: 0px 0px 2px #333;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    transition: transform 50ms ease-in-out;
    

}

.botonCantidad:active{
    transform: scale(0.9);
}

.totalPrecio{
    font-size: 1.5rem;
    font-weight: bold;
}

#btn-finalizar{
    height: 10%;
    box-shadow: 0px 2px 5px #333;
    border: none;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 2px
}
#btn-finalizar:hover{
    background-color: hsl(30, 91%, 21%)
}

hr {
    opacity: 1;
    height: 10px !important;
    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ca6a09, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ca6a09, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.hero{
    background-image: url("../imgs/hero3.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: grid;
    place-items: center;
}

.bg--grandiant{
background: #ffe259;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ca6a09, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ca6a09, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.productos--padre{
    display: grid;
    grid-template-columns: 1fr;
    
}
.productos--hijo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bicicletas--hijo img {
    max-width: 290px;
    max-height: 435px;
}

.dark__title--background{
    color: white;
    background-color: none;
    border: 2px solid #ffe259;

}

.equipo{

    background: #ffe259;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ca6a09, #ffe259);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ca6a09, #ffe259); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/

}



.integrantes img{
    max-height: 371px;
}


.iconoCheck{
    font-size: 2.5rem;
}

.iconoCheck--bien{
    color: greenyellow;
}
.iconoCheck--mal{
    color: red;
}

.desaparecer{
    opacity: 0;
    visibility: hidden;
}


/* MEDIA QUERIE */


@media screen and (min-width: 768px) {
    
    .productos--padre{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1rem;
        
    }   
}